{% extends 'parts/layout.html' %}
{% load static %}

{% block title %}Account: {{user.username}}{% endblock %}

{% block body %}

<section id="account">
  {% if user.is_staff %}
  <h1>Welcome {{user.username}} (Staff Account)</h1>
  <p>Please create a new part using the following form.
  </p>
  <br />
  <form action="{% url 'account' user.id %}" method="post" class="new-part-form">
    {% csrf_token %}
    {{form}}
    <input class="part-submit-button" type="submit">
  </form>
  {% else %}
  <h1>Welcome {{user.username}} (Student Account)</h1>
  <p>Browse the music your teacher has assigned to you.</p>
  <div class="part-display-wrapper">
    <div class="items-wrapper">
      <div class="item-wrapper">
        <p class="bold">Pieza</p>
        <p class="bold">Compositor</p>
      </div>
      {% for part in parts %}
      <a href="{% url 'part' part.id%}" class="item-wrapper">
          <p>{{ part.part_title }}</p>
          <p>{{ part.composer_name }}</p>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</section>

{% endblock %}