{% extends 'parts/layout.html' %}
{% load static %}
{% block title %}Create User{% endblock %}
{% block body %}
<section id="new-user">
  <h1 class="page-heading">Create New User</h1>
  <form action="{% url 'newuser' %}" method="post">
    <fieldset class="new-user-form">
      {% csrf_token %}
      {{form}}
      <input class="submit-button" type="submit">
    </fieldset>
  </form>
  {% if "Passwords" in message%}
  <div class="message-password">
    {{message}}
  </div>
  {% endif %}
  {% if "account" in message%}
  <div class="message-good">
    {{message}}
  </div>
  {% endif %}
</section>

{% endblock %}