{% extends 'parts/layout.html' %}
{% load static %}
{% block title %}Create User{% endblock %}
{% block body %}
<section id="new-user">
  <h1 class="page-heading">Create New User</h1>
  <form action="">
    <fieldset class="new-user-form">
      <input type="text" placeholder="*Username">
      <input type="text" placeholder="*Name">
      <input type="email" placeholder="*Email">
      <input type="password" placeholder="*Password">
      <input type="password" placeholder="*Re-Enter Password">
      <input class="submit-button" type="submit">
    </fieldset>
  </form>
</section>

{% endblock %}