{% extends "parts/layout.html" %}
{% load static %}
{% block title %} Nosotros {%endblock%}
{% block body %}
<section id="nosotros">
<h1 class="page-heading">Nosotros</h1>
<p>Por fin, un sitio pensado para profesores y estudiantes de conservatorio. Sabemos que no siempre es fácil elegir un repertorio, por eso, mispartituras.com te ayuda a encontrar piezas y obras del nivel y el estilo que quieras de la manera más sencilla.<br/> <br />

  Esperamos que, a partir de ahora, tengas un sitio de referencia para encontrar el repertorio adecuado para tus clases, tus audiciones, un concierto o para tu disfrute personal en casa. <br /><br />
  
  ¡A tocar!
</p>
<div class="photo-container">
  <div class="person-container">
    <img src="{% static '/media/carlos-photo.jpeg' %}" alt="Carlos Photo">
    <h3>Carlos - CEO</h3>
  </div>
  <div class="person-container">
    <img src="{% static '/media/michael-photo.png' %}" alt="Michael Photo">
    <h3>Michael - Web Developer</h3>
  </div>
</div>
</section>
{% endblock %}
