@import "./config";

#account {
  margin: 0 auto;
  margin-top: $nav-height;
  max-width: 800px;
  padding: 10px;
  .new-part-form {
    display: flex;
    flex-direction: column;
    input,
    select {
      margin-bottom: 1rem;
      padding: 0.3rem 0.5rem;
    }
    .part-submit-button {
      width: 50%;
      margin: 0 auto;
      padding: 0.5rem 1rem;
      border-radius: 50px;
    }
  }
  .part-display-wrapper {
    background-color: rgba($color: $white-color, $alpha: 0.8);
    padding: 0.3rem;
    color: $primary-color;
    border-radius: 10px;
    min-height: 50vh;
    .item-wrapper {
      display: grid;
      grid-template-columns: 55% 45%;
      background-color: $white-color;
      padding: 5px;
      margin-bottom: 3px;
      &:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      &:last-of-type {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
