$primary-color: #014652;
$white-color: #efefef;
$logo-color: #08b9b8;
$nav-height: 40px;

html {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  background: url("../media/body-bockground.svg"), $primary-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white-color;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-heading {
  margin: 0 auto;
  font-size: 2rem;
}

@mixin laptop {
  @media (min-width: 922px) {
    @content;
  }
}
