@import "./config";

#contacto {
  margin-top: $nav-height;
  display: flex;
  flex-direction: column;
  padding: 10px;
  .contact-message {
    text-align: center;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    input, textarea {
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
      margin: 0.5rem 0;
      padding: 0.5rem;
      border-radius: 10px;
    }
  }
  .submit-button {
    margin: 1rem auto;
    width: 200px;
    padding: 1rem 1.5rem;
    font-weight: 600;
  }
  .success-message{
    font-size: 2rem;
    text-align: center;
  }
}
