@import "./config";

#hero {
  margin-top: $nav-height;
  min-height: calc(100vh- $nav-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  .hero-text-container {
    text-align: center;
    @include laptop {
      width: 50%;
      margin-top: 3rem;
    }
    .hero-title {
      font-size: 3rem;
    }
    .hero-subtitle {
      font-size: 2rem;
      margin-top: 2rem;
    }
  }
  .search-button-hero {
    margin: 2rem auto;
    padding: 0.5rem 3rem;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    color: $primary-color;
    &:hover {
      cursor: pointer;
    }
  }
}
