@import "./config";

#nosotros {
  padding: 1rem 10px;
  margin: 0 auto;
  margin-top: $nav-height;
  min-height: calc(100vh - $nav-height);
  display: flex;
  flex-direction: column;
  max-width: 800px;
  @include laptop {
    padding: 10px 2rem;
  }
  .photo-container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    @include laptop {
      flex-direction: row;
      justify-content: space-around;
    }
    img {
      border-radius: 50%;
      margin-top: 3rem;
      width: 150px;
    }
  }
}
